@charset "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1{
	width: 200px;
	margin: 0px auto;
}

#container{
	background-color: plum;
	margin: 15px auto;
	width: 500px;
	border: 20px double gray;
}