body{
    background-color: darkslateblue;
    font-style: italic;
    font-size: 1.5rem;
    box-shadow: 3px black;
    box-sizing: border-box;
    font-family: "Comic Sans MS", Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: overline;
    background-image: linear-gradient(to bottom, grey, white /* 50% */);
    border: 5px solid black;
    border-bottom: 5px;
    justify-content: flex-end;
    display: flex;
    align-items:baseline;
    text-indent: 50px;
}
a:first-of-type{
    font-weight: bold;
}